/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree . 
 *= require_self
*/

.flash { margin:10px; text-transform:uppercase; }

.alert { color:red; }

.notice { color:green; }

.ui-menu { background-color:yellow; }

ul#output li { list-style-type:none; }

.updated { color:green; margin-left:10px; }

.updated p { padding-bottom:5px; }

.row { max-width:none; }

.modified a { color:#EB8F00; }

fieldset.document { border:1px inset; padding:1em; margin:5px; }

fieldset.document legend { font-size:1.2em; font-weight:bold; padding:0.5em; }
